/* Place CSS styles here */
body{
    background-color: rgb(255, 255, 255);
    color: teal;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}